/* Import Text font Url  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

/* Default CSS settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

HTML{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
    
}

li{
    list-style-type: none;
}

.title{
    font-size: 56px;
    color: white;
    text-align: center;
    animation: landing__rightsection-text 2000ms ease;
    /* text-transform: uppercase; */
}



/* CSS FOR Navigation Bar */

#navigation__bar{
    width: 100vw;
    height: 100vh;
    /* background-image: url(assets/test2.jpg); */
    background-image: url(assets/test6.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    
    
}

.navigation__links{
    display: flex;
    
}

.navigation__link--list{
    margin: 0 18px;
    animation: fading-in 4000ms ease;
}

.nav__link--edit{
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    
    
}

.navlink__hover--effect:hover{
    color: red;
    transition: all 400ms ease-out;
}

.Nav__logo--heading{
    font-size: 44px;
    font-weight: 700;
    color: white;
    animation: fading-in-navtitle 4000ms ease;
}

@keyframes fading-in{

    0%{
        opacity: 0;
        transform: translateX(150px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fading-in-navtitle{

    0%{
        opacity: 0;
        transform: translateX(-150px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}



/* CSS FOR Landing Page */

.landing__pagepicture--ibby{
    width: 300px;
    border-radius: 10%;
    animation: landing__imgmover 4000ms ease;
}

.landingpage__wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 128px 0;
  
    
}

.landing__leftsection{
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.landing__rightsection{
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  
}

.landing__para{
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 24px;
    animation: landing__rightsection-text 4000ms ease;
}

.landing__subheading{
    font-size: 32px;
    text-align: center;
    padding-top: 12px;
    color: white;
    animation: landing__rightsection-text 4000ms ease;
}

.social__link--list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links__icon{
    padding: 40px 24px;
    font-size: 24px;
}

.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.scroll_icon:hover{
    color: red;
    transition: all 1000ms ease;
}

@keyframes landing__rightsection-text {
    0% {color: black;}
    100% {color: white;}
}

@keyframes landing__imgmover{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* CSS For Tech Stack */

#technology__Stack{
    display: flex;
    flex-direction: column;
    background-image: url(assets/test6.jpg);
    background-size: cover;
    padding: 96px 0px;
}

.stack__title{
    font-size: 56px;
    color: white;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.Stack__subheading{
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 8px;
}

.stack__right--img{
    width: 100%;
    max-width: 100px;
    transition: all 500ms ease;

}

.stack__right{
    width: 50%;
    float: right;
    padding-top: 48px;
}

.stack__left{
    width: 50%;
    float: left;
}

.stack__list{
    width: 33.3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.stack__list--wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    
}

.stack__description{
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    transform: scale(0);
    transition: all 500ms ease;
    padding-top: 12PX;
}

.stack__list:hover .stack__description{
    transform: scale(1);
}

.stack__list:hover .stack__right--img{
    transform: scale(1.1);
    filter: brightness(110%);
    
}

/* CSS For Projects */

#Projects{
    display: flex;
    flex-direction: column;
    background-image: url(assets/test6.jpg);
    background-size: cover;
    padding: 80px 0px;
}

.project__header,
.project__subheader{
    color: white;
    text-align: center;
    font-weight: 700;
}

.project__subheader{
    font-size: 32px;
}
.project__header{
    font-size: 56px;
}